src/conf/xml-resources/jaxb/JAXBindingAlumnes/alumnes_schema.xsd


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="alumnes">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element type="xs:byte" name="codi"/>
                <xs:element type="xs:string" name="nom"/>
                <xs:element type="xs:string" name="assignatures" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element type="xs:string" name="tutories" maxOccurs="unbounded" minOccurs="0"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>